html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2'),
	url('../fonts/MullerRegular.woff');
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2'),
		url('../fonts/MullerBold.woff');
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: 'Russo';
	src: url('../fonts/RussoOne-Regular.woff2'),
		url('../fonts/RussoOne-Regular.woff');
	font-display: swap;
	font-weight: 400;
}

:root {
  --color-light: #fff;
  --color-dark: #07060b;
  --color-primary: #46f4db;
  --color-primary-active: #57d272;
  --gap: 32px;
}

body {
	font-family: 'Muller', sans-serif;
  font-size: 20px;
  color: var(--color-dark);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
	margin: 0 auto;
  padding: 0 12px;
	max-width: 1304px;
}

/* header */
.header {
  padding: 15px 0;
  background-color: var(--color-light);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: calc(var(--gap) * 2);
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: var(--gap);
}

.nav__link {
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: 2px solid var(--color-primary-active);
  outline-offset: 6px;
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__link:active {
  color: var(--color-primary-active);
}

.header__btn {
  outline: none;
  position: relative;
  border-radius: 100px;
  padding: 17px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-light);
  background-color: var(--color-dark);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__btn::after {
  content: "";
  position: absolute;
  left: -6px;
  top: -6px;
  border: 2px solid var(--color-primary-active);
  border-radius: 100px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  opacity: 0;
}

.header__btn:focus::after {
  opacity: 1;
}

.header__btn:hover {
  color: var(--color-dark);
  background-color: var(--color-primary);
}

.header__btn:active {
  color: var(--color-dark);
  background-color: var(--color-primary-active);
}

/* hero */
.hero {
  height: 680px;
  background-color: var(--color-dark);
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: calc(100% + 9px) top;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: 'Russo', sans-serif;
  font-size: 70px;
  line-height: 84px;
  color: var(--color-light);
}

.hero__text {
  width: 50%;
}

.hero__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero__btn {
  display: inline-block;
  border-radius: 100px;
  padding: 25px 54px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-dark);
}

.hero__btn--fill {
  margin-right: var(--gap);
  background: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
}

.hero__btn--stroke {
  padding: 20px 49px;
  border: 5px solid var(--color-primary);
  color: var(--color-light);
}
